/* margin的样式初始化 */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,input{
    margin:0px;
}
/* padding的样式初始化 */
ul,ol,th,td,input,option,textarea {
    padding:0px;
}
/* 列表的样式初始化 */
ul,ol,li{
    list-style:none;
}

/* 文本样式的样式初始化 */
em,i{
    font-style:normal;
}
a{
    text-decoration: none;
}
strong{
    font-weight: normal;
}
img{
    vertical-align: top;
    border:none;
}
/* 表格表单的样式初始化 */
table{
    border-collapse: collapse;
}
input,textarea,select{
    outline: none;
    resize: none;
    /* border-width: 1px; */
}

/* 清浮动 BFC */
.clear:after{
    content: "";display: block;clear: both;
}
.clear{
    zoom:1;
}